footer{
    max-width: 100%;
    background-color: #141833;
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 1.5%;
}

.side1{
    display: flex;
    margin: 20px 60px 0px 60px;
    
}

.company-name{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.company-name span{
    font-size: 45px;
}



.footer-nav{
    width: 20%;
}
.footer-nav ul{
    margin: 0;
    line-height: 38px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.footer-1{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 31%;
    text-align: center;
    padding: 0px 7px 0px 8px;
}

.footer-1 img{
    margin-top: 2px;
}

.f{
    margin-left: 6px;
    color: rgb(85, 83, 83);
}

.f2{
    margin-bottom: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.f2 span{
    font-weight: 700;
    color: grey;
    margin-left: 5px;
}

#terms{
    margin-top: 25px;
}

.subscribe-section{
    width: 60%;
}

.subscribe-section p {
 margin: 0 2px 3px 2px
}

#subscribe-form{
    height: auto;
    display: flex;
}


.sub-box{
    border: solid white;
    border-bottom-left-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-bottom-right-radius: 0px 0px;
    border-top-right-radius: 0px 0px;
    width: 60%;
    margin-bottom: 0;
}
#sub-checkbox{
    width: auto;
}

#sub-btn{
    border-bottom-right-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    font-size: 17px;
    border: solid rgb(60 115 235);
    box-sizing: border-box;
    color: white;
    background-color: rgb(60 115 235);
    width: 140px;
}

#check-bx{
    align-items: first baseline;
    margin-top: 8px;
    display: flex;
    width: 50%;
}

.footer-links ul{
    padding: 0;
    justify-content: center;
    font-size: 17px;
}

.footer-links ul li{
    margin: 0px 20px;
}

#icon-lnk{
    width: 100%;
    display: flex;
    justify-content: center;
}

#icon-lnk img{
    margin: 0px 8px;
}


@media (max-width:961px) {
    .footer-1 {
        width: 60%;
    }
    #check-bx{
        width: 90%;
    }
    .company-name{
        width: 25%;
    }
    .footer-nav{
        width: 25%;
    }

    .subscribe-section{
        width: 50%;
    }

    .footer-links ul li{
        margin: 0px 7px;
        
    }
    
}

@media (max-width:700px){
    .footer-links ul{
        font-size: 12px;
    }
    .company-name span{
        font-size: 35px;
    }
    .side1{
        margin: 20px 25px 0px 25px;
    }

}

@media (max-width:640px){
    .side1{
        flex-direction: column;
    }
    .company-name{
        width: 100%;
        flex-direction: row;
        align-items: center;
    }
    .footer-nav{
        width: 100%;
    }
    .footer-nav ul{
        align-items: center;
        padding: 0;
    }
    .subscribe-section{
        width: 100%;
    }
}

@media (max-width:550px){
    .footer-1{
        font-size: 12px;
        width: 90%;
    }
    .footer-links ul{
        font-size: 8px;
    }
    

    
  }