#content-team{
    margin: 0px 20px;
    padding-top: 40px;
    max-width: 100%;
  }

.team-info img{
    height: 180px;
    width: 180px;
    margin: 5px;
}

#manage-team{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.team-info{
    padding-bottom: 15px;
    font-family: system-ui;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    text-align: center;
}

p{
    margin: 0;
}

#manage-team2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

@media (max-width:430px) {
    #content-team{
        margin: 0px 5px;
    }
    
}