.mainContainer{
    padding: 30px 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}


.mainCont{
    width: 100%;
    background: linear-gradient(to right, #ffffff, #8697dc);
}




.leftDiv{
    width: auto;
    display: flex;
    align-items: center;
    height: 91vh;
}

.rightDiv{
    background-color: white;
    width: auto;
    display: flex;
    height: 91vh;
    flex-direction: column;
}

.rightDiv1{
    width: auto;
    display: flex;
    align-items: center;
    height: 98vh;
}

.leftDiv1{

    background-color: white;
    min-width: 350px;
    display: flex;
    height: 98vh;
    flex-direction: column;
}

.loginPhoto{
    width: 350px;
    height: 100%;
    border: 1px solid;
}

.loginPhoto1{
    width: 350px;
    height: 100%;
    border: 1px solid;
}

.loginLogo{
    width: 20%;
    height: 15%;
}

.rememberMe{
    display: flex;
    flex-direction: row;
    font-family: Poppins;
    font-size: 16px;
    font-style: italic;
    line-height: 10px;
    height:20px;
}

.captcha{
    display: flex;
}

.captcha img{
    align-items: flex-end ;
}

.captcha label{
 width: 30%;
 background-color: #D9D9D9;
 height: 30px;
 border-radius: 8px 0 0 8px;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 padding-left: 2%;
 font-family: Poppins;
 font-weight: bold;
}

.captcha1{
    display: flex;
}

.captcha1 img{
    align-items: flex-end ;
}

.captcha1 label{
 width: 30%;
 background-color: #D9D9D9;
 height: 40px;
 border-radius: 8px 0 0 8px;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 padding-left: 2%;
 font-family: Poppins;
 font-weight: bold;
}

.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.reload{
    width: 15%;
    height: 45%;
    display: flex;
    margin-left: 15%;
}

#signUp{
    font-style: italic;
    color: #2E52E0;
    font-weight: bold;
}

.passwordContainer{
    display: flex;
    flex-direction: row;
}

#password{
    margin-right: 1%;
    font-size: 18px;
}

#repassword{
    margin-left: 1%;
    font-size: 18px;
}

#repassword1{
    margin-left: 1%;
    margin-right: 1%;
    font-size: 18px;
}

.noAccount{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 10px;
}

.account{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5px;
}

#login{
    font-size: 30px;
}

#login1{
    font-size: 25px;
    line-height:20px;
}

.button{
    height: 40px;
    width: 50%;
    background-color: #2E52E0;
    color: aliceblue;
    border-radius: 20px;
    border: none;
}

.captcha input{
width: 70%;
height: 30px;
border-radius: 0 8px 8px 0;
}

.captcha1 input{
    width: 70%;
    height: 40px;
    border-radius: 0 8px 8px 0;
    }

.rememberMe input{
    width: 23px;
    line-height: 10px;
    height: 15px;
    margin-left: 0%;
    margin-right: 2%;
    margin-top: -0.5%;
    padding: 0%;
    line-height: 10px;
}

.signUpForm{
    float: left;
    width: 80%;
}

.logoLabel{
    font-family: Poppins;
    font-size: 45px;
    text-decoration:none;
    line-height: 40px;
    
}

.formContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid;
}
.formContainer1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid;
}

.formLabel{
    font-weight: bold;
    width: 100%;
    line-height: 15px;
}

.formLabel1{
    font-weight: bold;

    width: 100%;
    line-height: 2px;
}

.formInput{
 width: 100%;
 height: 60px;
}

.formInput1{
    width: 100%;
    height: 40px;
   }

   @media (max-width:780px){
    .leftDiv{
        display: none;
    }
    .rightDiv{
        margin: 10px 20px;

    }

    .rightDiv1{
        display: none;
    }

    .leftDiv1{
        margin: 10px 20px;
    }
   }