@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.back {
    min-height: 80vh;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    width: 100%;
}

@media (max-width:1062px) {
    .back {
        background-size: cover;
        background-position: unset;
    }
}

@media (max-width:964px) {
    .back {
        background-image: unset;
    }
}

h1{
    font-weight: bold;
}